@font-face{font-family:"abc"; src:url("./abc.ttf");}

h1 {color: #887671;  font-family:"abc"; font-size: 30px;}
h2 {color: #887671;  font-family:"abc"; font-size: 30px;}

pre {color: #887671; font-family:"abc";  font-size: 20px;}
